/* reset styles */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* main style */
body,
select,
option {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

header {
  max-width: 1089px;
  display: flex;
  justify-content: space-between;
  margin: 1.5rem auto;
  padding: 0 1.5rem;
  box-sizing: border-box;
}

h1 {
  font-size: 1.5rem;
  color: #192a3e;
  line-height: 2.25rem;
  letter-spacing: 0.01em;
}

.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}

.filter span {
  color: #6a707e;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01em;
}

select#changefilter,
option {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01em;
  border: none;
  color: #0148f5;
}

.plus-button .button {
  background: #0148f5;
  border: none;
  border-radius: 5px;
  display: block;
  height: 30px;
  width: 30px;
  font-size: 23px;
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 75, 255, 0.24);
}

main.container {
  padding: 0 3rem;
  margin: 0 auto;
  max-width: 1089px;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 1px auto;
  padding: 1.5rem 0;
  border-bottom: 1px solid #ebeff2;
}

.top-left {
  display: flex;
  align-items: center;
  column-gap: 9px;
}

span.icon {
  width: 25px;
  height: 25px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%);
  border-radius: 25px;
  display: block;
  color: white;
  text-align: center;
  line-height: 25px;
  font-weight: 900;
  font-size: 13px;
}

span.link {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.01em;
  line-height: 22px;
}

span.material-icons {
  color: #c2cfe0;
  font-size: 1.1rem;
  line-height: 1.5rem;
  cursor: pointer;
}

span.material-icons:hover {
  color: #0148f5;
}

.main-content {
  display: flex;
  column-gap: 2.18rem;
}

.widget {
  margin: 1.1rem 0;
  flex: 175px 0 0;
}

.website-score {
  border-right: 1px solid #ebeff2;
  padding: 0 30px 0 0;
  box-sizing: border-box;
}

h3.title {
  color: #818e9b;
  font-size: 0.7rem;
  letter-spacing: 0.01em;
  line-height: 16px;
  margin-bottom: 14px;
}

.score {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

span.percent {
  color: #2ed47a;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 84px;
}

span.percent span {
  font-size: 1.75rem;
}

span.variation.down {
  font-weight: 500;
  font-size: 1rem;
  line-height: 180%;
  letter-spacing: 0.01em;
  color: #dd4c3a;
  display: flex;
  align-items: center;
}

.score span.variation.arrow::before {
  font-size: 1.5rem;
  width: 1.2rem;
}

span.arrow::before {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  width: 20px;
}

span.change.down {
  color: #dd4c3a;
  display: flex;
  align-items: center;
}

span.arrow.down::before {
  content: "arrow_drop_down";
  color: #dd4c3a;
  margin: 3px 0 0 0;
  font-size: 1rem;
  width: 0.9rem;
}

span.change.up {
  color: #2ed47a;
  display: flex;
  align-items: center;
}

span.arrow.up::before {
  content: "arrow_drop_up";
  color: #2ed47a;
  margin: 0 0 3px 0;
  font-size: 1rem;
  width: 0.9rem;
}

.score .title {
  font-size: 0.75rem;
  line-height: 21.6px;
  letter-spacing: 0.01em;
}

.errors .title {
  color: #dd4c3a;
}

.warnings .title {
  color: orange;
}

.notice .title {
  color: deepskyblue;
}

.score .value {
  font-weight: 500;
  font-size: 12px;
  line-height: 180%;
  color: #004bff;
  display: flex;
  align-items: center;
}

.rankings {
  border-right: 1px solid #ebeff2;
  padding: 0 30px 0 0;
  box-sizing: border-box;
}

.rankings .score {
  margin-right: 45px;
}

.rankings .score .title::before {
  height: 2px;
  width: 2px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #004bff;
  content: "";
  margin: 0 8.4px 1px 0;
}

.rankings img {
  margin-top: 23px;
}

.rankings .score .rank2::before {
  border: 2px solid rgba(0, 75, 255, 0.75);
}

.rankings .score .rank3::before {
  border: 2px solid rgba(0, 75, 255, 0.5);
}

.rankings .score .rank4::before {
  border: 2px solid rgba(221, 76, 58, 0.5);
}

.last-changes {
  border-right: 1px solid #ebeff2;
  padding: 0 30px 0 0;
  box-sizing: border-box;
  flex: 220px 0 0;
}

.last-changes .value {
  display: inline;
}

time {
  font-size: 10px;
  line-height: 180%;
  color: #707683;
  display: block;
}

.last-changes span.title.change::before {
  border-radius: 50%;
  display: inline-block;
  background: #f18f1c;
  border: 2px solid #f18f1c;
  content: "";
  margin-right: 5px;
  margin-bottom: 1px;
  width: 5px;
  height: 5px;
  box-sizing: border-box;
}

.last-changes span.title.last::before {
  border-radius: 50%;
  display: inline-block;
  background: #27be88;
  border: 2px solid #27be88;
  content: "";
  margin-right: 5px;
  margin-bottom: 1px;
  width: 5px;
  height: 5px;
  box-sizing: border-box;
}

.traffic .score {
  margin-right: 60px;
}

.traffic img {
  margin-top: 42px;
}

.traffic .score .title::before {
  height: 2px;
  width: 2px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #004bff;
  content: "";
  margin: 0 8.4px 1px 0;
}

.traffic img {
  margin-top: 23px;
}

.traffic .score .rank2::before {
  border: 2px solid rgba(0, 75, 255, 0.75);
}

.traffic .score .rank3::before {
  border: 2px solid rgba(0, 75, 255, 0.5);
}

.traffic .score .rank4::before {
  border: 2px solid rgba(221, 76, 58, 0.5);
}